@font-face {
  font-family: "Myanmar Text Regular";
  src: url("../font/mmrtext.ttf") format("truetype");
}
@font-face {
  font-family: "Myanmar Text Bold";
  src: url("../font/mmrtextb.ttf") format("truetype");
}
@font-face {
  font-family: "UTM Pierre Regular";
  src: url("../font/mmrtextb.ttf") format("truetype");
}
$font-normal: Myanmar Text Regular;
$primary-color: #efa5b0;
body {
  font: 100% $font-normal;
  color: $primary-color;
}
@media (min-width: 768px) {
  .main__navbar {
    
      .nav__link {
        margin-left: auto;
        margin-right: auto;
        box-sizing:border-box;
        padding: 0.3rem;
        font-size: 1.3rem;
        min-width: 140px;
        color: red;
        text-align: center;
      
    }
  }
}
